.hide-show-password-group {
    width: 26.4rem;
    border-radius: 0.36rem;
}

.hide-show-password-text {
    background-color: var(--white);
    border-left: none;
    cursor: pointer;
    border-top-right-radius: 0.36rem !important;
    border-bottom-right-radius: 0.36rem !important;
}

.hide-show-password-icon {
    font-size: 1.32rem;
    color: var(--deep-greige);
}