.card-layout {
    height: 20.4rem;
    margin-top: 2rem;
    border-radius: 0.72rem;
    background-color: var(--white);
    border-color: var(--white);
}

.full-screen-card {
    margin-top: 2rem;
    border-radius: 0.72rem;
    background-color: var(--white);
    border-color: var(--white);
    margin-bottom: 2.7rem;
    margin-bottom: 2rem;
    height: fit-content;
}